<h1>Friend List</h1>
 
<div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend, class: "btn btn-outline-primary btn-sm" %>
    </p>
    <p><%= link_to 'Delete', friend, method: :delete, class: "btn btn-outline-danger btn-sm" %>
  <% end %>
</div>



